!!! 5
%html
  %head
    %meta(charset="utf-8")
    %link(href="styles.css" rel="stylesheet")
    %script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
    %script(src="gerundator.js")
    %title Gerundator

  %body
    %header
      %h1 Gerundator
      %p.slogan Um pequeno plugin para adicionar status de carregamento nos botões de sua aplicação
      %nav
        %a(href="gerundator.js") Download
        %a(href="http://github.com/vitorfs/gerundator/") GitHub
        %a(href="http://vitorfs.com") Autor
    %article
      %h2 Sobre
      %p Em aplicações onde é necessário realizar processamentos pesados no lado do servidor, é conveniente desabilitar o botão de ação após o primeiro envio, para evitar que o usuário submeta o formulário mais vezes, gerando erros ou comportamentos inesperados.
      %p
        :markdown
          A utilização do **Gerundator** permite habilitar e desabilitar os botões de ação, colocando o verbo da ação no gerúndio durante a execução: “Enviar” para “Enviando…”, “Salvar” para “Salvando…”, “Atualizar” para “Atualizando…” etc.

      %h2 Funções
      %ul
        %li
          %code disable([true|false])
          %p Habilita ou desabilita um botão, colocando o verbo no gerúndio.
        %li
          %code toggleDisable()
          %p Desabilita o botão caso ele esteja habilitado e habilita o botão caso ele esteja desabilitado, colocando o verbo no gerúndio.

      %h2 Utilização
      %pre
        %code
          :preserve
            $("button").toggleDisable();

      %pre
        %code
          :preserve
            &lt;button type="button" id="btn-enviar"&gt;Enviar&lt;/button&gt;
            &lt;script&gt;
              $("#btn-enviar").click(function () {
                $.ajax({
                  url: "processa-form.php"
                  beforeSend: function () {
                    $(this).disable(true);
                  }
                  success: function (data) {
                    // execução em caso de sucesso
                  }
                  complete: function () {
                    $(this).disable(false);
                  }
                });
              });
            &lt;/script&gt;

      %h2 Exemplos
      %button(type="button") Enviar
      %button(type="button") Salvar

    %footer
      Design, Haml e Sass por
      %a(href="http://rafaelmasoni.com") Rafael Masoni

    :javascript
      $(function () {
        $("button").click(function () {
          var btn = $(this);
          btn.toggleDisable();
          setTimeout(function () {
            btn.toggleDisable();
          }, 1500);
        });
      });

    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create', 'UA-42049022-1', 'vitorfs.com');ga('send', 'pageview');
